#PyCharm
*.iml
.idea
*.pyc
__pycache__
*.swp
*~
#PyDev
.project
.pydevproject
#output
.coverage
cover/
output/
data/
bin/
include/
lib/
lib64
man/
share/
pip-selfcheck.json
dist/

openwebvulndb_tools.egg-info/
pyvenv.cfg

# cookies
cookies*
